.Main {
    background-color: #32649b;
}

.App {
    text-align: center;
    background-color: #28235d;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #1d519f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-align: left;
}


/*.App-logo {
  animation: 1s ease-out 0s 1 App-logo-spin;
    width: 200px;
    height: 200px;
    animation-duration: 3s;
    animation-name: App-logo-spin;
    animation-iteration-count: infinite;}*/


/*@keyframes App-logo-spin {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(0.5);
        /*translate(-350%, -200%)
    }
}*/